.bckgimg {
    position: relative;
    
}

.titles_body {
    font-size: 400%;
    color: black;
    font-weight: bold;
    margin-top: 6%;
    margin-left: 10%;
}

.services_title {
    font-size: 400%;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 42%;
    left: 43%;
}

.bt_ed {
    border-color: black;
    margin-left: 75%;
    margin-bottom: 60%;
    background-color: #fff; 
}